.pagina-contato .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pagina-contato__imagem{
    width: 75%;
}

.pagina-contato__conteudo{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pagina-contato__titulo{
    color: var(--cor-secundaria);
    font-weight: 700;    
    font-size: 2rem; /* 3.75rem; */
    text-align: center;
    margin: 25px 0; 
}

.pagina-contato__formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 15px;
}

.pagina-contato__input{
    display: inline-block;
    width: 100%;
    padding: 5px 15px;
    border-radius: 7px;
    border: 1px solid gray;
}

@media screen and (min-width: 768px){
    .pagina-contato__imagem{
        max-width: 444px;
    }
}

@media screen and (min-width: 1024px){
    .pagina-contato{
        display: flex;
        min-height: calc(100vh - 100px - 120px);
    }

    .pagina-contato .container{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-evenly;
        gap: 150px;
    }

    .pagina-contato__formulario{
        align-items: flex-start;
    }

    .pagina-contato__conteudo{
        display: block;
    }

    .pagina-contato__titulo{
        text-align: left;
    }

    .pagina-contato__imagem{
        max-width: 501px;
    }
}