.pagina-cursos__titulo{
    color: var(--cor-secundaria);
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
}

.pagina-cursos__subtitulo{
    text-align: center;
    color: var(--cor-texto-cinza);
}

.pagina-cursos__item{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 25px;
    padding: 75px 0;
}

.pagina-cursos__item-imagem{
    width: 75%;
}

.pagina-cursos__item-conteudo{
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.pagina-cursos__item-conteudo-titulo{
    color: var(--cor-secundaria);
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
}

.pagina-cursos__item-conteudo-texto{
    margin: 15px 0;
}

@media screen and (min-width: 768px){
    .pagina-cursos__item-conteudo{
        align-items: flex-start;
    }

    .pagina-cursos__titulo{
        text-align: left;
    }
    
    .pagina-cursos__subtitulo{
        text-align: left;
    }

    .pagina-cursos__item{
        grid-template-columns: 1fr 2fr;        
    }

    .pagina-cursos__item-conteudo-titulo{
        text-align: left;
    }

}