:root{
    --cor-primaria: #2E948A;
    --cor-secundaria: #FF4081;
    --cor-imagem-vazia: #C4C4C4;
    --cor-texto: #000;
    --cor-texto-cinza: #555;
    --cor-menu-link: #fff;
    --cor-fundo-cinza: #F6F6F6;
}

*{
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}

body{
    position: relative;
}

a{
    color: var(--cor-texto);
}

.secao{
    padding: 50px 0;
}

.container{
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
}

.secao--cinza{
    background-color: var(--cor-fundo-cinza);
}


.botao{
    border-radius: 62px;
    display: block;
    width: 250px;
    text-align: center;
    padding: 5px 0;
    border: 1px solid transparent;
    font-size: 1.5rem;
    color: var(--cor-menu-link);
    transition: background-color .5s;
    cursor: pointer;
}

.botao--primario{
    background-color: var(--cor-primaria);
    border: 3px solid transparent;
    transition: border .25s;
}

.botao--primario:hover{
    border: 3px solid var(--cor-secundaria);
}

.botao--secundario{
    background-color: var(--cor-secundaria);
    border: 3px solid transparent;
    transition: border .25s;
}

.botao--secundario:hover{
    border: 3px solid var(--cor-primaria);
}

.botao--borda-secundaria{
    border-color: var(--cor-secundaria);
    color: var(--cor-secundaria);
}

.botao--borda-secundaria:hover{
    color: var(--cor-menu-link);
    background-color: var(--cor-secundaria);
}

.botao--borda-branca{
    border-color: var(--cor-menu-link);
}

.botao--borda-branca:hover{
    color: var(--cor-primaria);
    background-color: var(--cor-menu-link);
}