.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner__imagem{
    width: 75%;
}

.banner__conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner__titulo{
    color: var(--cor-secundaria);
    font-weight: 700;    
    font-size: 2rem; /* 3.75rem; */
    text-align: center;
}

.banner__texto{
    color: var(--cor-texto-cinza);   
    text-align: center;
    font-size: 1rem /* 1.688rem; */;
    margin: 15px 0 25px;
}

.banner__link{
    border: 1px solid var(--cor-secundaria);
    color: var(--cor-secundaria);
    padding: 5px 15px;
    border-radius: 25px;
}

.cursos .container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
}

.cursos__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.cursos__imagem{
    width: 100% /* 288px */    
}

.cursos__titulo{
    color: var(--cor-secundaria);
    font-weight: 700;
    font-size: 1.25rem;
    text-align: center;
    margin: 25px 0;
}

.cursos__texto{
    font-weight: 300;
    text-align: center;
    font-size: .9rem;
    margin-bottom: 25px;
}

.cursos__link{
    border: 1px solid var(--cor-secundaria);
    background-color: var(--cor-secundaria);
    color: #fff;
    padding: 5px 15px;
    border-radius: 25px;
}

.depoimentos__itens{
    display: grid;
    gap: 50px;
}

.depoimentos__item{
    display: flex;
    flex-direction: column;
    align-items: center ;
}

.depoimentos__titulo{
    color: var(--cor-primaria);
    text-transform: uppercase;
    font-size: 1.5rem; /* 3,125 */
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
}

.depoimentos__citacao{
    margin: 15px 0 10px;
    font-weight: 300;
    font-size: 1.125rem;
}

.depoimentos__autor{
    font-size: 1.125rem;
}

.blog__titulo{
    color: var(--cor-primaria);
    text-transform: uppercase;
    font-size: 1.5rem; /* 3,125 */
    font-weight: 700;
    margin-bottom: 50px;
}

.blog__posts{
    display: grid;
    align-items: center;
    gap: 50px;
}

.blog__imagem-vazia{
    background-color: var(--cor-imagem-vazia);
    width: 100%;
    height: 193px;
}

.blog__post-titulo{
    color: var(--cor-primaria);
    font-weight: 700; 
    font-size: 1.35rem ;/* 1.688rem */
    margin: 15px 0 5px;
}

.blog__link{
    display: inline-block;
    margin-top: 25px;
    border: 1px solid var(--cor-secundaria);
    color: var(--cor-secundaria);
    padding: 5px 15px;
    border-radius: 25px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.rodape{
    background-color: var(--cor-primaria); 
}

.nav-rodape__menu{
    list-style: none;
}

.nav-rodape__link{
    color: var(--cor-menu-link);
    display: block;
    padding: 5px 0;
}

.rodape__links{
    margin: 25px 0;
}

.rodape__links{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rodape__link{
    border: 1px solid var(--cor-menu-link);
    color: var(--cor-menu-link);
    padding: 5px 15px;
    border-radius: 25px;
    margin: 5px;
    display: block;
    width: 175px; /* 289px */
    text-align: center;
    padding: 10px 0;
}

@media screen and (min-width: 768px){
    .banner__imagem{
        width: 50%;
    }

    .banner__titulo{
        font-size: 3.75rem;
    }

    .banner__texto{
        font-size: 1.688rem;
    }

    .banner__link{
        display: block;
        width: 289px;
        text-align: center;
        padding: 10px 0;
        font-size: 1.688rem;
    }

    .cursos .container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 50px;
    }

    .cursos__imagem{
        height: 191px;
    }

    .depoimentos__itens{
        display: grid;
        grid-template-columns: 1fr 1fr;        
    }

    .depoimentos__titulo{
        font-size: 2.5rem;
    }

    .blog__posts{
        grid-template-columns: 1fr 1fr 1fr; 
    }

    .blog__imagem-vazia{
        height: 135px;
    }

    .blog__link{
        display: block;
        width: 225px;
        text-align: center;
        padding: 10px 0;
        font-size: 1.25rem;
        margin-top: 75px;
    }

    .rodape .container{
        padding-top: 25px;
        padding-bottom: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav-rodape__menu{
        order: 2;
    }

    .rodape__links{
        order: 3;
        margin: 0;
    }

    .rodape_imagem{
        order: 1;
    }
}

@media screen and (min-width: 1024px){
    .banner{
        max-width: 1440px;
        margin: 0 auto;
        padding: 50px 200px;
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        justify-content: space-between;
    }

    .banner__conteudo{
        display: block;
    }

    .banner__titulo{
        text-align: left;
        width: 468px;
    }

    .banner__texto{
        text-align: left;
        width: 375px;
    }

    .banner__imagem{
        max-width: 501px;
    }

    .cursos__imagem{
        height: 270px;
    }

    .cursos__titulo{
        font-size: 1.563rem;
    }

    .cursos__link{
        display: block;
        width: 233px;
        text-align: center;
        padding: 10px 0;
        font-size: 1.25rem;
    }

    .depoimentos__titulo{
        text-align: left;
    }

    .depoimentos__item{
        display: flex;
        flex-direction: row;
        gap: 25px ;
    }
}