.nav-cabecalho{
    background-color: var(--cor-primaria);
    
    display: flex;
    flex-direction: column;
    align-items: center
}

.nav-cabecalho__item{
    display: inline-block;
}

.nav-cabecalho__link{
    display: inline-block;
    color: var(--cor-menu-link);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.25rem;
    padding: 20px;
}