.cabecalho{
    background-color: var(--cor-primaria);
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 9999;
}

.cabecalho .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-cabecalho__item{
    display: inline-block;
}

.nav-cabecalho__link{
    display: inline-block;
    color: var(--cor-menu-link);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 20px;
    transition: background-color .5s;
}

@media screen and (min-width: 768px){
    .cabecalho .container{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .cabecalho img{
        opacity: .75;
        transition: opacity .5s;
    }
    
    .cabecalho img:hover{
        opacity: 1;
    }

    .nav-cabecalho__link:hover{
        background-color: var(--cor-secundaria);
    }
}
