.pagina-post__titulo{
    color: var(--cor-secundaria);
    font-weight: 700;    
    font-size: 2rem; /* 3.75rem; */
    text-align: center;
}

.pagina-post__data{
    text-align: center;
    color: #9D9D9D;
}

.pagina-post__imagem-vazia{
    background-color: var(--cor-imagem-vazia);
    width: 100%;
    height: 35vh;
    margin: 50px 0;
}

.pagina-post__texto{
    margin-bottom: 25px;
}

.pagina-post__subtitulo{
    color: var(--cor-primaria);
    font-size: 1.5rem;
    margin: 50px 0 25px;
}

.secao-titulo{
    font-size: 2rem;
    margin-bottom: 50px;
}

@media screen and (min-width: 1024px){
    .pagina-post__imagem-vazia{
        height: 50vh;
    }
}